@import '../../style/variables';

.selectOptionContainer {
  width: fit-content;
  display: flex;

  &.categoriesContainer {
    padding-top: 20px;
    flex-direction: column;
    max-height: 130px;
    min-width: 475px;
    flex-wrap: wrap;
  }
  
  .optionContainer {
      display: block;
      position: relative;    

    .checkmark {
      border: 1px solid $black;
      background-color: $lightGrey;

      &:after {
        border: solid $black;
        border-width: 0 2px 2px 0;
      } 
    }
    
    &:hover input ~ .checkmark {
      background-color: $lightGrey;
    }
    
    input:checked ~ .checkmark {
      background-color: $lightGrey;
    }
  }
}

@media screen and (max-width: 768px) {
  .selectOptionContainer  {
    &.categoriesContainer  {
      padding-top: 20px;
      flex-direction: column;
      max-height: 200px;
      min-width: 300px;
      flex-wrap: wrap;
    }
  }
}


