@import '../../style/variables.scss';

nav{
    background-color: $mintGreen;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .rightAlignedNav {
        display: flex;
        flex-direction: row;
    }

    a {
        color: $white;
        font-size: 12px;
        padding: 0 20px;
        text-align: center;
        text-decoration: none;
    }
}
.activeNavLink{
    color: $black;
}