@import '../../style/variables';

.appliedFiltersContainer {

  p {
    color: $grey;
    margin: 10px 0px;
  } 

  .filterContainer {
    padding: 0 15px;
    display: flex; 
    flex-direction: row;
    align-items: baseline;

    .selectedFilter {
      height: fit-content;
      margin: 0 5px;

      p {
        display: inline-block;
        color: $white;
        font-size: 11px;
        margin: 2px;
        padding: 2px 8px 3px;
        background-color: $grey; 
        color: $white;
        border-radius: 2px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .appliedFiltersContainer {
    display: none;
  }
}