@import '../../style/variables';
.screenContainer {
  padding: 60px 0 80px;
}

.col-left {
  padding-right: 30px !important;
}

.col-right {
  padding-left: 30px !important;
}

.inputContainer {

  .label {
    width: 100%;
    display: flex; 
    flex-flow: column;
    font-weight: 700;
    color: $mintGreen;
    font-size: 12px;
  }

  .input {
    width: 100%;
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid $black;
    color: $black;
    background-color: transparent;

    &.description {
      padding-bottom: 120px;
    }
  }

  p {
    margin: 0;
  }

  ::placeholder { 
    color: $grey;
    font-family: 'BrownStd';
    font-weight: 100;
  }

  textarea:focus, input:focus{
    outline: none;
  }
}

.timeOptionContainer {
  width: 100%;
  display: flex;
  flex-flow: row;

  :first-child {
    margin-right: 30px;
  }

  p {
    padding: 0 10px;
  }

  .endTimeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .btnAddEndTime{
      background: transparent;
      cursor: pointer;
      color: $black;
      border: 1px solid $black;
      border-radius: 2px;
    }
  }
}
.activityFormOptionContainer {
  width: fit-content;

  .activityFormOption {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    cursor: pointer;
    border-bottom: 1px solid $black;
    margin: 0;
    font-size: 12px;
    padding: 10px 0px 12px 0px;


  }
}
.categoriesContainer {
  width: fit-content;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  max-height: 130px;
  min-width: 475px;
  flex-wrap: wrap;

  .optionContainer {
      display: block;
      position: relative;
      padding-left: 25px;
      padding-bottom: 12px;
      cursor: pointer;
      font-size: 12px;
      user-select: none;

      p {
          margin: 0;
          display: inline-block;
      }
    }
    
    /* Hide the browser's default checkbox */
    .optionContainer input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 15px;
      width: 15px;
      border: 1px solid $black;
      border-radius: 2px;
      background-color: $lightGrey;
    }
    
    /* On mouse-over, add a grey background color */
    .optionContainer:hover input ~ .checkmark {
      background-color: $lightGrey;
    }
    
    /* When the checkbox is checked, add a blue background */
    .optionContainer input:checked ~ .checkmark {
      background-color: $lightGrey;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
    
    /* Show the checkmark when checked */
    .optionContainer input:checked ~ .checkmark:after {
      display: block;
    }
    
    /* Style the checkmark/indicator */
    .optionContainer .checkmark:after {
      left: 4px;
      top: 0px;
      width: 4px;
      height: 8px;
      border: solid $black;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }     
}