.headerImageContainer {
    background-image: url('../../assets/images/browsingbanner_1600x756.jpg');
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-left: -15px;
    margin-right: -15px;
}