@import '../../style/variables';

.footerContainer {
  width: 100%;
  padding: 50px;
  background-color: $black; 
  color: $white;
  margin: 80px 0 0 0;

  h2 {
    color: $white; 
    letter-spacing: 0.8px;
  }

  .socialContainer {
    display: flex;
    width: 70%;
    margin-top: 16px;
    float: right;
    justify-content: space-between;

    .socialIcon {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 768px) {
  .footerContainer  {
    h2, p {
      text-align: center;
    }
    .socialContainer  {
      margin: 20px auto;
      float: none;
    }
  }
}

