@import '../../style/variables';

.inputContainer {

  .label {
    display: flex; 
    flex-flow: column;
    font-weight: 700;
    color: $mintGreen;
    font-size: 12px;

    &.fitContent {
      width: fit-content;
    }
  }

  .input {
    width: 100%;
    padding: 10px;
    border-style: none;
    border-bottom: 1px solid $black;
    color: $black;
    background-color: transparent;
    font-family: 'BrownStd', sans-serif;

    &.description {
      padding-bottom: 120px;
    }

    &.disabled {
      opacity: 0.5;
    }
  }

  p {
    margin: 0;
  }

  ::placeholder { 
    color: $grey;
    font-family: 'BrownStd', sans-serif;
    font-weight: 100;
  }

  textarea:focus, input:focus{
    outline: none;
  }
}