.searchbarContainer {
    background-color: #242424;
    color: #FFF;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: fit-content;
    border-radius: 2px;
    margin-top: -40px;

    input{
        padding: 10px 10px 12px 10px;
        width: 100%;
        color: #CECECE;
        border-radius: 2px;
        background-color: #FEFEFE;
        background-image: url('../../assets/icons/other_icons/loupe_icon.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        border: none;
    }
    .searchBarOption {
        cursor: pointer;
        border-bottom: 1px solid #FFF;
        margin: 0;
        font-size: 12px;
        padding: 10px 10px 12px 10px;

        &.active {
            color: #28A08A;
            border-bottom-color: #28A08A;
        }
    }
}

.dropdownContainer {
  position: absolute;
  display: none;
  top: 100%;
  cursor: pointer;
  min-width: 175px;
  width: fit-content;
  background-color: #242424;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 20px 20px 8px 20px;
  z-index: 10;

    &.active {
      display: block;

      &.categories {
        right: 0;
        display: flex;
        flex-wrap: wrap;
        max-height: 150px;
        min-width: 475px;
        flex-direction: column;
      }
    }

    p {
      font-size: 12px;
    }
    
    .optionContainer {
        display: block;
        position: relative;
        padding-left: 25px;
        padding-bottom: 12px;
        cursor: pointer;
        font-size: 12px;
        user-select: none;

        p {
            margin: 0;
            display: inline-block;
        }
      }
      
      /* Hide the browser's default checkbox */
      .optionContainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
      
      /* Create a custom checkbox */
      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border: 1px solid #FEFEFE;
        border-radius: 2px;
        background-color: #242424;
      }
      
      /* On mouse-over, add a grey background color */
      .optionContainer:hover input ~ .checkmark {
        background-color: #343434;
      }
      
      /* When the checkbox is checked, add a blue background */
      .optionContainer input:checked ~ .checkmark {
        background-color: #242424;
      }
      
      /* Create the checkmark/indicator (hidden when not checked) */
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      /* Show the checkmark when checked */
      .optionContainer input:checked ~ .checkmark:after {
        display: block;
      }
      
      /* Style the checkmark/indicator */
      .optionContainer .checkmark:after {
        left: 4px;
        top: 0px;
        width: 4px;
        height: 8px;
        border: solid #FEFEFE;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }     
}

@media screen and (max-width: 844px) {
  .searchbarContainer{
    .searchBarOption {
      padding-left: 0px;
    }
  }

  .dropdownContainer {
    position: relative;
    padding-left: 0;

    p {
      margin: 0;
    }

    &.active {
      &.categories {
        left: 0;
        min-width: 100%;
        max-height: fit-content;
      }
    } 
  }
}