.searchbarContainer {
    background-color: #242424;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: fit-content;

    input{
        height: fit-content;
        padding: 10px 10px 12px 10px;
        color: #CECECE;
        border-radius: 2px;
        background-color: #FEFEFE;
        background-image: url('../../assets/Images/other_icons/loupe_icon.svg');
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
        border: none;
    }
    .searchBarOption {
        cursor: pointer;
        border-bottom: 1px solid #FFF;
        margin: 0;
        font-size: 12px;
        padding: 10px 10px 12px 10px;

        &.active {
            color: #28A08A;
            border-bottom-color: #28A08A;
        }
    }
}