@import '../../style/variables';

.landingContainer {
  background-image: url('../../assets/images/palmehuset_1600x1067.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center; 
  padding: 0 !important;

  .overlay{
    background: rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center; 
  }

  .landingContentContainer {
    width: 100%;
  }

  .landingCtaContainer {
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;

    .landingHeading {
      display: flex;
      flex-flow: column; 
      align-items: center; 
    
      h1, h3{
        color: $white !important; 
        text-align: center;
      }

      h1 {
        font-size: 4rem;
        margin: 0;
      }

      h3 {
        max-width: 450px;
        font-weight: 100;
      }
    }

    .buttonContainer {
      display: flex; 
      justify-content: center; 
      align-items: center;
      
    }
  }
}

@media screen and (max-width: 768px) {
  .landingContainer {
    .landingCtaContainer {
      .landingHeading {
        h1 {
          font-size: 2.5rem;
          max-width: 270px;
        }
        h3 {
          max-width: 350px;
        }
      }
    }
  }
}