@import '../../style/variables.scss';

.toggleActivitiesContainer{
  margin-top: 30px;

  :first-child { 
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  :nth-child(2) { 
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .toggleButton {
    background-color: $white;
    cursor: pointer;
    color: $black;
    border: 1px solid $black;
    min-width: 85px;
    min-height: 25px;
    font-family: 'BrownStd';
    font-weight: 100;
    padding: 0px 15px;
    margin-bottom: 20px;

    p{
      margin: 0px;
    }

    &.active {
      background-color: $black;
      color: $white;
    }
  }
}