@import '../../style/variables.scss';

.activityCardContainer {
  display: flex;
  background-color: $white;
  border-radius: 2px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;

  .iconContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    padding: 20px 0;

    h3 {
      margin-top: 0px;
      margin-bottom: 6px;
    }

    p {
      color: $black;
      margin: 5px 0;
    }

    .location {
      color: $black;
      margin: 5px 0;
  
      span {
        height: 10px;
        margin-right: 5px;
        .marker {
          height: 10px;
        }
      }
    }
  }

  .activityCardDetails {
    display: none;
  }

  .toggleContainer {
    height: 100%;
    display: flex;
    justify-content: flex-end;

    .btnTtoggleActivityCard {
      align-self: flex-end;
      background-color: $white;
      cursor: pointer;
      border:none;
      padding: 15px 20px;
    }
  }

  &.showDescription {
    .activityCardDetails{
      display: flex;
      flex-direction: column;
      padding-bottom: 15px;

      p {
        margin-top: 0px;
      }
      .attendeesContainer {
        color: $grey;
      }
      .attendContainer {
        align-self: flex-end;
      }
    }

    .toggleContainer {    
      .btnTtoggleActivityCard {
        transform: rotate(180deg);
      }
    }
  }
}